
    <mat-toolbar color="primary">


         <!--  <button mat-button (click)="onSelect('all-contacts')">All contacts </button>
          <button mat-button (click)="onSelect('new-contact')">New contact </button> -->


              <a mat-button routerLink="/"
              routerLinkActive="mat-accent">
                My Contacts
              </a>

            <span class="spacer"></span>

                <a mat-button routerLink="/create"
                routerLinkActive="mat-accent">
             New Contact
              </a>

              <span class="spacer"></span>

                <a mat-button routerLink="/upload"
                routerLinkActive="mat-accent">
             Upload contacts
              </a>


    </mat-toolbar>
