mat-sidenav-container {
  min-width: 60px;
  background-color:  #3f51b5
}

mat-sidenav-content{
  width:100%;
  height: calc(100vh - 100px);
  background-color:  white
}
mat-sidenav{
  margin-left: 20px;

  background-color:  #3f51b5;

}

.label{
  display: inline-block;
  margin-left: 10px;
}


a {
text-decoration: none;
color: white;
}

a:hover,
a:active {
  color: darkgrey;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  margin: 0 auto;

  vertical-align: text-bottom;
  font-size: 24px;
}

.logout {
margin-right: -5px;
}

.upload {

  font-size: 28px;
}

body {
  margin: 0;
}

form {
  display: flex;
  align-items: flex-end;
}
.loginForm{
  position: absolute;
  right: 20px;
}

