<mat-card>
  <div class="row">
  <div class="col-md-12">

  <form #songForm="ngForm">
    <mat-form-field>
      <input [(ngModel)]="searchTerm"
        matInput
        type="text"
        name="name"
        placeholder="Search contact by name...">
      </mat-form-field>
    </form>

      <mat-card *ngFor = 'let contact of contacts; let i = index'
                (click)="onSelected(contact)"
                [ngClass]="{'hover-color': contact.hoverActive }"
                (mouseover)="contact.hoverActive = !contact.hoverActive">
          <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title class="list group item heading">{{contact.name}}</mat-card-title>
        <mat-card-subtitle class="list group item text">{{contact.telephone}}</mat-card-subtitle>
      </mat-card-header>
      </mat-card>

  </div>
</div>

</mat-card>
