
.icon {
  text-align: center;

}

mat-form-field {
  width: 100%;

}


  mat-card-avatar {
    max-width: 400px;
  }

.hover-color:hover{
    color:white;
    background-color:#3f51b5;
    text-decoration-color: #fff;
    cursor:pointer
  }

  .card{
    color:#3f51b5;
    background-color:white;
    text-decoration-color: #fff;
    cursor:pointer
  }



  .selected-color{
    background-color:#AD6666;
  }


  a {
    display: grid;
  }
