.header-image {
  background-image: url('../../../assets/phone-img.jpg');
  background-size: cover;
  }

  mat-card-title:hover{
    cursor:pointer
  }

  mat-card{
    max-width: 400px;
  }

  .hover-color:hover{
    color: #fff;
    background-color:#AD1457;
  }
  .selected-color{
    background-color:#AD6666;
  }
