<mat-card class="col-md-12" *ngIf="contact">

        <div class="col-md-12">
          <img alt="Contact details" class="img-responsive">
        </div>



          <div class="col-md-12">
            <h1 class="list-group-item-heading">{{contact.name}}</h1>
        </div>


            <div class="col-md-12">
              <h1 class="list-group-item-text">{{contact.telephone}}</h1>
            </div>
            
          <div class="row col-md-12">
              <div class="row col-md-6">
                <a mat-raised-button color="primary"
                [routerLink]="['/edit', contact.id]">UPDATE</a>
          </div>


              <div class="row col-md-6">
                <button mat-raised-button color="warn"
                (click)="onDelete(contact.id)">DELETE</button>
              </div>
          </div>

</mat-card>

