.img-responsive {
  /* content: url('../../../assets/Contacts.jpg'); */
  font-size: 80px;
  display: block;
  margin:  auto;
  color:#3f51b5;

}
.card-avatar {
  margin-right:  40px;
}

.card {
  max-width: 400px;
  margin-top: 60px;
  position: fixed;
  text-align: center;
  display: inline-block;

}

.card-header{
  display: inline-block;
  margin-top: 25px;
}


.row {
  margin: 0px;
  margin-bottom: 30px;
}
mat-card-header {
  display: inline-block;
  margin-top: 50px;
  height: 150px;
}
