  <!-- home page html -->
  <div *ngIf="!loggedIn()" class="container mt-5">
    <div *ngIf="!registerMode" class="text-center">
        <h1>Telephone book</h1>
        <p class="lead">Keep your contacts in one place!</p>
        <div class="text-center">
          <button mat-raised-button class = "submit" color="primary"  (click)="registerToggle()">Register</button>

        </div>
      </div>

      <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <app-signup (cancelRegister)="cancelRegisterMode($event)"></app-signup>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loggedIn()" class="container mt-5">
      <div *ngIf="!registerMode" class="text-center">
          <h1 >My telephone book</h1>
        </div>
      </div>
